.topheader {
  position: fixed;
  background-color: white;
  width: 100%;
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.25rem;
  list-style: none;
}
.Menu-Horizontal {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.Menu-Horizontal li a {
  display: block;
  padding: 0.938rem 1.25rem;
  color: blue;
  text-decoration: none;
}
.Menu-Vertical {
  list-style: none;
  padding: 0;
  position: absolute;
  display: none;
  width: 9.375rem;
}
.Menu-Horizontal li a:hover {
  color: lightgreen;
}
.Menu-Horizontal li:hover .Menu-Vertical {
  display: block;
}
.seccion-productos {
  padding: 3.75rem 1.25rem;
  background-color: white;
}
.div-gral-productos {
  display: flex;
  justify-content: space-between;
  max-width: 80%;
  align-items: center;
  margin: 0 auto;
  gap: 2.5rem;
}
.div-prod-texto {
  flex: 1;
}
.div-prod-texto h2 {
  color: blueviolet;
}
.div-prod-texto p {
  color: black;
  line-height: 1.6;
  font-size: 1rem;
  text-align: justify;
}
.div-prod-img {
  flex: 1;
}
.div-prod-img img {
  width: 100%;
  max-width: 31.25rem;
}
.div-gral-zondig {
  display: flex;
  justify-content: space-between;
  max-width: 80%;
  align-items: center;
  margin: 0 auto;
  gap: 2.5rem;
}
.div-zondig-texto h2 {
  color: blue;
}
.div-zonding-texto p {
  color: black;
  line-height: 1.6;
  font-size: 1rem;
  text-align: justify;
}
.div-zondig-video iframe {
  width: 100%;
  max-width: 100%;
}
.div-prod-texto button {
  margin-top: 1.25rem;
  padding: 0.625 1.25rem;
  background-color: pink;
}
.seccion-formulario {
  background-color: bisque;
  padding: 2.5rem;
  border: 0.188rem;
  display: flex;
  justify-content: center;
  margin-bottom: 2.5rem;
}
.div-cont-formulario {
  background-color: azure;
  padding: 1.875rem;
  border: 0.125rem solid rgb(32, 20, 11);
  border-radius: 0.625rem;
  width: 100%;
  max-width: 31.25rem;
}
.campo {
  background-color: rgb(170, 212, 236);
  padding: 0.938rem;
  border: 0.63rem;

  border-radius: 0.5rem;
  margin-bottom: 0.938rem;
}
.formulario label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: rgba(4, 24, 16, 0.74);
}
.formulario input[type="text"],
.formulario select {
  width: 100%;
  padding: 0.625;
  border: 0.063rem;
  border-radius: 0.313rem;
  box-sizing: border-box;
}
.Lista-checkbox,
.Lista-radio {
  list-style: none;
  background-color: rgb(11, 156, 223);
  padding: 0.625rem;
  border: 0.063rem solid black;
  margin: 0;
  border-radius: 8px;
}
.formulario button {
  background-color: orange;
  color: black;
  border: 0.094rem solid rgb(255, 186, 57);
  cursor: pointer;
  border-radius: 0.313rem;
}
